<!DOCTYPE html>
<html>

<head>
    <title>Discussion Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/discussion.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="styling">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ChatServer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">


                    <!-- <a href="/" class="btn nav-link" id = "styleBtn">Leave Room</a> -->
                    <!-- <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                </div>
            </div>

        </div>
    </nav>
    <div class="chatbox-container">
        <header class="chatbox-header" id="top">
            <div id="head1">
                <h4 id="room-name">
                    <%=room%> Room
                </h4>
            </div>
            <div id="head2"><a href="/" class="btn nav-link" id="styleBtn">Leave Room</a></div>


            <!-- <h4>Room:</h4>
            <h4 id="room-name">
                <%=room%>
            </h4>
            <a href="/" class="btn">Leave Room</a> -->
        </header>
        <div class="main-body">
            <div class="chatbox-main">
                <div class="chatbox-side">
                    <div class="side">
                        <h4>Users</h4>
                        <hr>
                    </div>
                    <div class="side">
                        <ul id="users" class="list-group">
                        </ul>
                    </div>



                </div>
                <!-- <div class="chatbox-message" style="border: 2px solid green;">
                </div> -->
            </div>
            <div class="chatform-container">
                <div class="side">
                    <h4>Messages</h4>
                    <hr>
                </div>
                <div class="chatbox-message">
                </div>

                <div>
                    <form id="chat-form" >
                        <hr>
                        <div class="form-row align-items-center" id="msgBox">
                            <div class="col-sm-3 my-1 side">
                                <input id="msg" type="text" placeholder="Enter Message" class="form-control" required />
                            </div>
                            
                            <div class="col-auto my-1 side">
                                <button type="submit" class="btn" id="clrbtn">Send</button>
                            </div>
                        </div>
                    </form>
                    <!-- <form id="chat-form">
                        <input id="msg" type="text" placeholder="Enter Message" required />
                        <button class="btn">Send</button>
                    </form> -->
                </div>

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const chatForm = document.getElementById('chat-form');
        const chatMessages = document.querySelector('.chatbox-message');
        const userList = document.getElementById('users');
        const userName = '<%=username%>';
        const roomName = '<%=room%>';

        var socket = io();

        socket.emit('joinRoom', { userName, roomName });

        socket.on('currentUsers', arr => {
            var i;
            userList.innerHTML = `
            ${arr.map(user => `<li class="list-group-item">${user.username}</li>`).join('')}
            `;

        });

        //message from server
        socket.on('message', data => {
            const name = data.username;
            const msg = data.message;
            const time = data.time;
            const div = document.createElement('div');
            div.classList.add('message');
            div.innerHTML = `<p class="info">${name} <span>${time}</span></p>
                    <p class="text" style="text-decoration:underline"> ${msg}</p>`;
            document.querySelector('.chatbox-message').appendChild(div);

            //scroll down
            chatMessages.scrollTop = chatMessages.scrollHeight;

        });


        socket.on('output', (data) => {
            const div = document.createElement('div');
            div.classList.add('message');
            const name = data.username;
            const message = data.message;
            const time = data.time;
            div.innerHTML = `<p class="info">${name} <span>${time}</span></p>
                    <p class="text">${message}</p>`;
            document.querySelector('.chatbox-message').appendChild(div);

            //scroll down
            chatMessages.scrollTop = chatMessages.scrollHeight;
        });

        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const msg = e.target.elements.msg.value;

            //emitting a message to server
            socket.emit('chatMessage', msg);

            e.target.elements.msg.value = '';
            e.target.elements.msg.focus();
        });

        socket.on('previous', arr => {
            var i;
            for (i = 0; i < arr.length; i++) {
                const div = document.createElement('div');
                div.classList.add('message');
                const name = arr[i].name;
                const message = arr[i].message;
                const time = arr[i].time;
                div.innerHTML = `<p class="info" style="font-weight:bold">&#10148;${name} <span>${time}</span></p>
                    <p class="text" >${message}</p>`;
                document.querySelector('.chatbox-message').appendChild(div);

                //scroll down
                chatMessages.scrollTop = chatMessages.scrollHeight;
            };
        });


    </script>
</body>

</html>