<!DOCTYPE html>
<html>
<head>
    <title>Discussion Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/discussion.css">

</head>
<body>
    <div class="chatbox-container">
        <header class="chatbox-header">
            <h4>Room:</h4>
            <h4 id= "room-name"><%=room%></h4>
            <a href="/" class="btn">Leave Room</a>
        </header>

        <div class="chatbox-main">
            <div class="chatbox-side">
                <h4>Users</h4>
                <ul id= "users">
                </ul>

            </div>
            <div class="chatbox-message">
            </div>
        </div>
        <div class="chatform-container">
            <form id="chat-form">
                <input id="msg" type="text" placeholder="Enter Message" required/>
                <button class="btn">Send</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const chatForm = document.getElementById('chat-form');
        const chatMessages = document.querySelector('.chatbox-message');
        const userList = document.getElementById('users');
        const userName = '<%=username%>';
        const roomName = '<%=room%>';

        var socket = io();

        socket.emit('joinRoom', { userName, roomName});

        socket.on('currentUsers', arr => {
            var i;
            userList.innerHTML = `
            ${arr.map(user => `<li>${user.username}</li>`).join('')}
            `;

        });

        //message from server
        socket.on('message', data => {
            const name = data.username;
            const msg = data.message;
            const time = data.time;
            const div = document.createElement('div');
            div.classList.add('message');
            div.innerHTML = `<p class="info">${name} <span>${time}</span></p>
                    <p class="text">${msg}</p>`;
            document.querySelector('.chatbox-message').appendChild(div);

            //scroll down
            chatMessages.scrollTop = chatMessages.scrollHeight;

        });


        socket.on('output', (data) => {
            const div = document.createElement('div');
            div.classList.add('message');
            const name = data.username;
            const message = data.message;
            const time = data.time;
            div.innerHTML = `<p class="info">${name} <span>${time}</span></p>
                    <p class="text">${message}</p>`;
            document.querySelector('.chatbox-message').appendChild(div);

            //scroll down
            chatMessages.scrollTop = chatMessages.scrollHeight;
        });

        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const msg = e.target.elements.msg.value;

            //emitting a message to server
            socket.emit('chatMessage', msg );

            e.target.elements.msg.value = '';
            e.target.elements.msg.focus();
        });

        socket.on('previous', arr => {
            var i;
            for(i=0;i<arr.length;i++){
                const div = document.createElement('div');
                div.classList.add('message');
                const name = arr[i].name;
                const message = arr[i].message;
                const time = arr[i].time;
                div.innerHTML = `<p class="info">${name} <span>${time}</span></p>
                    <p class="text">${message}</p>`;
                 document.querySelector('.chatbox-message').appendChild(div);

                //scroll down
                chatMessages.scrollTop = chatMessages.scrollHeight;
            };
        });


    </script>
</body>

</html>

