<!DOCTYPE html>
<html>
    <head>
        <title>Discussion Forum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div>
            <form method="POST" action="/chat">
                <label for="username">Username</label>
                <input name="name" type="text" placeholder="Username" required/>
                <label for="room">Room Name</label>
                <input name="room" type="text" placeholder="Room" required/>
                <button class="btn">Submit</button>

            </form>
        </div>


    </body>
</html>