<!DOCTYPE html>
<html>
    <head>
        <title>Discussion Forum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div>
            <form method="POST" action="/chat">
                <label for="username">Username</label>
                <input name="username" type="text" placeholder="Username" required/>
                <label for="room">Room Name</label>
                <select id="room" name="room">
                    <option value="Science">Science</option>
                    <option value="Maths">Maths</option>
                    <option value="Social Science">Social Science</option>
                    <option value="HIndi">HIndi</option>
                    <option value="English">English</option>
                </select>
                <label for="subject">Subject</label>
                <input name="subject" type="text" placeholder="Subject" required/>
                <button class="btn">Submit</button>

            </form>
        </div>

    </body>
</html>